body,
div,
h1 {
    margin: 0;
    padding: 0;
}

.header {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
}

.header_inn {
    display: inline-block;
    box-sizing: border-box;
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.header_inn_company_logo {
    display: inline-block;
    margin-left: 100px;
    width: 282px;
    height: 40px;
}

.menu {
    display: inline-block;
    margin-left: 50px;
    width: 563px;
    height: 38px;
    cursor: auto;
}

.menu li {
    display: inline-block;
    float: left;
    margin-bottom: 5px;
}

.menu a {
    display: inline-block;
    padding: 15px;
    color: #989898;
    text-decoration: none;
    text-transform: uppercase;
    font: 600 14px / 22px OpenSans;
}

.menu a:hover {
    border-bottom: 4px solid #3070a8;
    color: #1a68a9;
}

.banner {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 0;
    width: 100%;
    height: 585px;
    background-image: url(images/bannerbg.png);
    background-attachment: scroll;
    background-origin: padding-box;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.banner_text1 {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 130px auto 0 auto;
    padding: 0;
    /*    width: 880px;*/
    text-align: center;
}

.banner_text1_p1 {
    display: block;
    box-sizing: border-box;
    color: #ffffff;
    font: 300 36px Futura, Open sans, Sans-serif;
}

.banner_text1_p2 {
    display: block;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    font: 700 48px FuturaBT;
}

.banner_annotation {
    box-sizing: border-box;
    margin: 20px auto;
    padding: auto;
    width: 576px;
    height: 60px;
    color: #ffffff;
    text-align: center;
    font: italic 20px / 30px Calibri;
}

.banner_button {
    display: inline-block;
    box-sizing: border-box;
    margin: 30px auto 45px auto;
    width: 247px;
    height: 59px;
    border-color: transparent;
    background: transparent;
    background: transparent;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
    color: #ffffff;
    text-transform: uppercase;
    font: 16px/0 'Open Sans', sans-serif;
}

.banner_button:hover {
    border-top-width: 2px;
    border-top-color: #FFFFFF;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.services {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
}

.services_child_title {
    display: inline-block;
    width: 100%;
    background: pink;
    color: #40525c;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font: bold 24px/60px "Trebuchet MS", sans-serif;
}

.services_item {
    position: relative;
    z-index: 0;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    margin: 25px 10px;
    max-width: 900px;
    width: 304px;
    height: 400px;
    background: #000;
    font: 12px/21px 'Open Sans', sans-serif;
}

.services_inner_item_text_title {
    color: #3070a8;
    text-align: center;
    text-transform: uppercase;
    font: 300 30.06px FuturaBT;
}

.services_inner_item_text_inf {
    overflow: hidden;
    color: #999999;
    text-align: justify;
    font: 400 14px / 25px OpenSans;
}

.middle_section {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 577px;
    width: 100%;
    background-image: url(images/middlesectionbg.png);
    background-origin: padding-box;
    background-size: cover;
}

.middle_section_text {
    position: relative;
    box-sizing: border-box;
    margin-left: 150px;
    width: 45%;
    text-align: left;
}

.middle_section_title {
    color: #ee8129;
    text-transform: uppercase;
    font: 300 26px / 48px FuturaBT;
}

.middle_section_annotation {
    color: #ffffff;
    font: italic 19px / 30px OpenSans;
}

.middle_section_list {
    list-style-type: none;
    text-align: justify;
}

.middle_section_list_item {
    display: list-item;
    padding-bottom: 15px;
    color: #9d9d9d;
    list-style-type: disc;
    list-style-image: url(images/Ellipse-17.png);
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.middle_section_list_item_blue {
    display: list-item;
    padding-bottom: 15px;
    max-width: 610px;
    color: rgb(48, 112, 168);
    list-style-type: disc;
    list-style-image: url(images/Ellipse-17-copy-4.png);
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.offers {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
}

.offers_child_title {
    display: inline-block;
    width: 100%;
    color: #40525c;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font: bold 24px/60px "Trebuchet MS", sans-serif;
}

.inner_item {
    display: inline-block;
    margin: 0 auto;
}

.inner_item_1,
.inner_item_3 {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    height: 440px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.inner_item_1 {
    right: -10px;
    z-index: 0;
}

.inner_item_3 {
    left: -10px;
    z-index: 2;
}

.inner_item_2 {
    position: relative;
    z-index: 3;
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    height: 460px;
    border: 5px solid #ee8129;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.inner_header {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 10px;
    width: 100%;
    height: 10%;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font: 700 24px 'Trebuchet MS', sans-serif;
    line-height: 24px;
}

.inner_item_1 .inner_header {
    background-color: #37c2d3;
}

.inner_item_2 .inner_header {
    border-radius: 0;
    background-color: #ee8129;
}

.inner_item_3 .inner_header {
    background-color: #1cb79a;
}

.inner_name {
    box-sizing: border-box;
    color: #3f4042;
    text-align: center;
    text-transform: uppercase;
    font: 700 24px/55px 'Trebuchet MS', sans-serif;
}

.inner_price {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 21%;
    color: #344859;
    vertical-align: 50%;
    text-align: center;
    font: bold 72px/100px 'Trebuchet MS', sans-serif;
}

.inner_price:before {
    display: inline-block;
    content: "$";
    vertical-align: top;
    font: 19px Trebuchet MS, sans-serif;
}

.inner_price:after {
    display: inline-block;
    content: "Monthly";
    vertical-align: bottom;
    vertical-align: -15%;
    font-size: 17px;
}

.inner_list {
    display: inline-block;
    box-sizing: border-box;
    margin-top: -20px;
    width: 90%;
    background: transparent;
    color: #888c94;
    list-style-position: inside;
    list-style-image: url(images/tick.png);
    text-align: left;
    font: 400 15px 'Trebuchet MS', Sans-serif;
}

.inner_list li:nth-child(2n+1) {
    margin-left: -40px;
    padding: 10px 10px 10px 40px;
    border-bottom: 1px solid white;
    background: #edf5fd;
}

.inner_list li:nth-child(2n) {
    margin-left: -40px;
    padding: 10px 10px 10px 40px;
    border-bottom: 1px solid white;
    background: #f5f5f6;
}

.inner_btn {
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    width: 100%;
    width: 87.9%;
    height: 8.3%;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font: px Trebuchet MS, sans-serif;
}

.inner_item_1 .inner_btn {
    border-bottom-color: #013b75;
    background-color: #3371a6;
}

.inner_item_2 .inner_btn {
    border-bottom-color: #c26112;
    background-color: #ee8129;
}

.inner_item_3 .inner_btn {
    border-bottom-color: #013b75;
    background-color: #3371a6;
}

.inner_btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 4px #FFFFFF;
    cursor: pointer;
}

.testimonials {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 900px;
    min-height: 315px;
    width: 100%;
    height: 100%;
    background: url(images/testimonialsbg.png);
    background-clip: padding-box;
    background-size: cover;
}

.testimonials_title {
    box-sizing: border-box;
    min-width: 300px;
    width: 100%;
    color: #3170a8;
    text-align: center;
    text-transform: uppercase;
    font: 40px Trebuchet MS, Sans-Serif;
    line-height: 100px;
}

.testimonials_title span {
    color: #ee8129;
}

.testimonials_inn {
    box-sizing: border-box;
    padding-bottom: 80px;
    min-width: 900px;
    width: 100%;
    height: 10%;
    text-align: center;
}

.talkbubble {
    position: relative;
    margin-left: 121px;
    width: 380px;
    height: 98px;
    background: #ffffff;
}

.talkbubble:before {
    position: absolute;
    top: 30px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 20px solid #ffffff;
    border-bottom: 13px solid transparent;
    content: "";
}

.testimonials_inn_name {
    position: absolute;
    right: 190px;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    max-width: 190px;
    max-height: 40px;
    width: 190px;
    height: 40px;
    background: #ffffff;
    color: #2e679b;
    text-align: left;
    text-transform: capitalize;
    font-style: italic;
    line-height: 40px;
}

.testimonials_inn_role {
    position: absolute;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 10px 0 0;
    max-width: 190px;
    max-height: 40px;
    width: 190px;
    height: 40px;
    background: #ffffff;
    color: #2e679b;
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
    line-height: 40px;
}

.testimonials_inn_1 {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 15px 10px;
    max-width: 500px;
    max-height: 98px;
    width: 500px;
    height: 98px;
}

.testimonials_inn_1_pic {
    position: absolute;
    width: 99px;
    height: 98px;
}

.testimonials_inn_text {
    position: absolute;
    top: 40px;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    max-width: 380px;
    max-height: 58px;
    height: 58px;
    border-top: 1px dotted #666666;
    background: #ffffff;
    color: #666666;
    text-align: justify;
    text-overflow: ellipsis;
    letter-spacing: 0.4px;
    font: 13px Trebuchet MS, Sans-Serif;
}

.testimonials_inn_2 {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 15px 10px;
    max-width: 500px;
    max-height: 98px;
    width: 500px;
    height: 98px;
}

.testimonials_inn_2_pic {
    position: absolute;
    width: 99px;
    height: 98px;
}

.footer {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 900px;
    min-height: 315px;
    width: 100%;
    height: 100%;
    background: lightblue;
    text-align: center;
}

.footer_inner {
    width: 100%;
    background: green;
}

.footer_item {
    display: inline-block;
    box-sizing: border-box;
    width: 700px;
    height: 305px;
    background: red;
}

.footer_bottom {
    display: block;
    width: 100%;
    height: 94px;
    background: #3070a8;
    text-align: center;
}

.footer_bottom_inner {
    position: relative;
    top: 20px;
    box-sizing: border-box;
    padding: 10px auto;
    color: #ffffff;
    font: 400 14px / 30px OpenSansOpenSans;
}

.footer_bottom span:last-child {
    color: #1d1b1b;
}

.footer_company_name {
    font-weight: 700;
}
