div,
h1,
a {
    margin: 0;
    padding: 0;
}

.potfolio {
    box-sizing: border-box;
    width: 100%;
    background: pink;
    text-align: center;
}

.portfolio_title {
    background: aquamarine;
    color: #2d3950;
    text-align: center;
    font: 400 41px Lato;
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 0;
}

.portfolio_title_mailto {
    display: block;
    background: red;
    color: #909090;
    text-align: center;
    text-decoration: none;
    font: 400 15px / 23px Lato;
    margin: 10px auto;
}

.item_container {
    max-width: 1150px;
    min-width: 360px;
    background: green;
    text-align: center;
    margin: 50px auto;
    height: 100%;
}

.portfolio_item {
    display: inline-block;
    box-sizing: border-box;
    width: 360px;
    height: 260px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.overlay {
    background: rgba(37, 166, 247, 0.9);
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    width: 360px;
    height: 260px;
    box-sizing: border-box;
}

.portfolio_item:hover .overlay {
    opacity: 0.8;
}


.rb_container {
    width: 100%;
    top: 41%;
    position: relative;
    text-align: center;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    padding: 12px;
    box-sizing: border-box;
    margin: 5px;
}

input[type="radio"]
{ display:none; }


 .btn:hover{
  box-shadow: 0px 0px 1px 1px rgba(255,      255,      255,      0.5);
  cursor: pointer;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  transition:all 0.15s ease 0.15s;
}

.rb_container .zoom_1:checked .it1_zoom{
    display: block;
}



.it1_zoom {
    position: absolute;
    width: 1150px;
    height: 560px;
    background:url(images/Layer-31.png);
    background-size: cover;
    box-sizing: border-box;
    display: none;
}

.item_1 {
    background: url(Layer-37.png);
}


.item_2 {
    background: url(Layer-31.png);
}

.item_3 {
    background: url(Layer-32.png);
}

.item_4 {
    background: url(Layer-33.png);
}

.item_5 {
    background: url(Layer-34.png);
}

.item_6 {
    background: url(Layer-35.png);
}
