div {
  margin: auto;
  background: #eee;
  height: 41px;
  width: 900px;
}

span {
  display: block;
  float: left;
}

a {
  position: reelative;
  vertical-align: 10px;
  display: block;
  color: #a4d;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 10px;
  margin: 2px;
  height: 15px;
  width: 15px;
}

.nav a {
  border-color: transparent;
  height: 15px;
  width: 60px;
}

.navd a {
  color: grey;
  border-color: transparent;
}

.page a:hover {
  color: white;
  background-color: #a5f;
  border: 1px solid #91d;
}
