body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
form,
input,
textarea {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    max-width: 799px;
    min-width: 320px;
    width: 100%;
    height: 161px;
    margin: 0 auto;
    text-align: center;
}

.header_container {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    display: block;
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.cirle_logo,
.text_logo,
.logo,
.social_net {
    float: none;
    margin: 0 auto;
}

.logo {
    display: block;
    box-sizing: border-box;
    padding-top: 20px;
    background: blue;
    border-bottom: 2px solid #2A80BC;
    margin: 0 auto;
    width: 50%;
    min-width: 176px;
}

.cirle_logo {
    width: 53px;
    height: 53px;
    text-align: center;
    float: none;
    margin: 0 auto;
}

.text_logo {
    color: #ffffff;
    text-transform: uppercase;
    font: 400 20px / 20px Helvetica;
    text-align: center;
    width: 100%;
}

.text_logo p {
    margin-top: 5px;
}

.logo,
.social_net {
    display: block;
}

.social_net {
    margin-top: 10px;
}

.social_net span {
    line-height: 22px;
    height: 22px;
    vertical-align: top;
    color: #ffffff;
}

.social_net a,
.footer_social_net a {
    text-decoration: none;
    opacity: 0.8;
}

.social_net a:hover,
.footer_social_net a:hover {
    text-decoration: none;
    opacity: 1;
}

.banner {
    max-width: 799px;
    min-width: 320px;
    width: 100%;
    background: url(images/bannerbg.png);
    height: 351px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.banner_container {
    width: 100%;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    padding: 30px 0;
    text-align: center;
}

.banner_container h2 {
    text-align: center;
    text-transform: uppercase;
    font: 700 40px / 42px Helvetica;
}

.banner_container p {
    text-align: center;
    font: 400 16px / 28px Helvetica;
    background: blue;
    box-sizing: border-box;
    width: 75%;
    margin: 1% auto;
}

.banner_form {
    position: absolute;
    width: 300px;
    height: 541px;
    box-sizing: border-box;
    border-bottom: 5px solid #3497D9;
    top: 80%;
    left: 50%;
    margin: -150px 0 0 -150px;
    background-color: #ffffff;
    z-index: 100;
}

.banner_form h2 {
    color: #333333;
    font: 400 20px / 20px Helvetica;
    text-transform: uppercase;
    text-align: center;
    line-height: 78px;
}

.banner_form form {
    margin: 0 20px;
    text-align: center;
    box-sizing: border-box;
}

.banner_form form input[name="select_course"] {
    background: url(images/arrowsouth.png) no-repeat center right 10px;
    background-color: #f2f2f2;
}

.banner_form form input {
    width: 100%;
    height: 36px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 1px solid #E5E5E5;
    padding-left: 17px;
    color: #333333;
    font: 400 15px / 20px Helvetica;
    box-sizing: border-box;
}

.banner_form form textarea {
    width: 100%;
    height: 76px;
    resize: none;
    margin-bottom: 7px;
    padding: 10px 17px;
    background-color: #f2f2f2;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    color: #333333;
    font: 400 15px / 20px Helvetica;
}

::-webkit-resizer {
    display: none;
}

::-webkit-input-placeholder {
    color: #333333;
    font: 400 15px / 20px Helvetica;
}

.banner_form form input[type="submit"] {
    background-color: #e74c3c;
    margin: 18px auto;
    padding-left: 0;
    width: 200px;
    height: 50px;
    color: #ffffff;
    font: 400 20px / 28px Helvetica;
    cursor: pointer;
    box-sizing: border-box;
}

.banner_form form input[type="submit"]:hover {
    background: #d62c1a;
}

.banner_form form input:hover,
.banner_form form textarea:hover {
    /*      background-image: linear-gradient(#fcfcfc, #eee);*/

    background-color: #f8f8f8;
}

.about_us {
    max-width: 799px;
    min-width: 320px;
    width: 100%;
    height: 682px;
    background: #f2f2f2;
    text-align: center;
    margin: 0 auto;
}

.about_us_container {
    width: 100%;
    height: 682px;
    box-sizing: border-box;
    background: lightcoral;
    display: inline-block;
    padding: 380px 0;
    text-align: center;
}

.about_us_container h2 {
    font: 700 15px / 42px Helvetica;
}

.about_us_container p {
    font: 400 13px / 20px Helvetica;
    padding: 10px;
    width: 90%;
    text-align: center;
    background: white;
    box-sizing: border-box;
    display: inline-block;
}

.advantage {
    width: 320px;
    background: white;
}

.advantage_inner {
    width: 100%;
    min-width: 320px;
    padding: 0 10px;
    text-align: center;
}

.advantage_inner h2 {
    font-size: 20px;
    text-align: center;
}

.advantage_inner_item_view {
    margin: 25px auto;
}

hr {
    max-width: 300px;
}

hr {
    max-width: 799px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    color: #ECECEC;
    /*line color for IE6-7*/

    background-color: #ECECEC;
    border: none;
    height: 1px;
    padding: 0 3%;
    box-sizing: border-box;
}

.testimonials {
    margin: 0 auto;
    max-width: 799px;
    min-width: 320px;
    width: 100%;
    background: #ffffff;
    text-align: center;
    /*    height: 250px;*/
}

.testimonials_container {
    background: aquamarine;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2% 3% 0 3%;
}

.testimonials_container_title {
    color: #3498db;
    /*    vertical-align: middle;*/

    text-align: center;
    text-transform: uppercase;
    font: 400 20px / 30px Helvetica;
    width: 70%;
    margin: 0 auto;
}

.testimonials_client_comment span,
.testimonials_client_name span {
    font: 400 60px / 60px Helvetica;
    color: #f2f2f2;
    background: blue;
}

.testimonials_client_comment span {
    position: relative;
    color: #f2f2f2;
    font-size: 60px;
}

.testimonials_client_comment span:first-child {
    top: 20px;
}

.testimonials_client_comment span:last-child {
    right: -97%;
    bottom: 15px;
}

.testimonials_client_comment {
    overflow: hidden;
    font: 400 13px / 20px Helvetica;
    /*    width: 70%;*/

    background: yellow;
    text-align: justify;
    padding: 10px;
}

.testimonials_client_name {
    text-align: right;
    font: 700 13px / 42px Helvetica;
}

.testimonials_pager {
    right: 0;
    top: 0;
    display: block;
    background: black;
    padding: 2px;
}

.testimonials_pager_item {
    text-decoration: none;
    border: 1px solid #C0C0C0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 0.8;
}

.testimonials_pager_item.left {
    background: url(images/pagerarrowleft.png) center no-repeat;
    /*    opacity: 0.5;*/
}

.testimonials_pager_item.right {
    background: url(images/pagerarrowright.png) center no-repeat;
    /*    opacity: 0.5;*/
}

.testimonials_pager_item a {
    text-decoration: none;
    text-transform: uppercase;
}

.testimonials_pager_item:hover {
    opacity: 1;
}

.footer {
    max-width: 799px;
    min-width: 320px;
    width: 100%;
    color: #ffffff;
    box-sizing: border-box;
}

.footer_top {
    width: 100%;
    height: 191px;
    max-width: 799px;
    min-width: 320px;
    background: #f2f2f2;
    text-align: center;
    box-sizing: border-box;
}

.footer_top_container {
    background: black;
    width: 100%;
    height: 191px;
    display: inline-block;
    text-align: center;
    padding: 0 3%;
}

.footer_top_btn {
    width: 300px;
    height: 130px;
    background: #e74c3c;
    margin-top: 65px;
    margin-bottom: 65px;
    border: none;
    display: inline-block;
}

.footer_top_btn a {
    font: 400 20px / 32px Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.footer_top_btn img {
    width: 32px;
    height: 32px;
    background: green;
    /*    position: relative;*/

    top: 9px;
    display: block;
}

.footer_top_btn:hover {
    background: #d62c1a;
}

.guy_img {
    margin: 0 auto;
    width: 225px;
    height: 364px;
    background: url(images/boy.png);
    top: 1670px;
    position: absolute;
    right: 8%;
    display: inline-block;
}

.footer_bottom {
    margin: 0 auto;
    max-width: 999px;
    min-width: 800px;
    width: 100%;
    height: 195px;
}

.footer_bottom_container {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #3498db;
    padding: 0 3%;
}

.footer_logo {
    border-right: 1px solid #2A80BC;
    box-sizing: border-box;
    background: black;
    display: inline-block;
    padding-right: 20px;
    text-align: left;
    float: left;
    margin-top: 50px;
}

.footer_circle_logo {
    width: 67px;
    height: 67px;
    display: inline-block;
    background: yellow;
    margin: 0;
    padding: 5px;
}

.footer_text_logo {
    text-transform: uppercase;
    font: 400 23px / 30px Helvetica;
    text-align: left;
    display: inline-block;
    background: salmon;
    vertical-align: top;
    margin: 0;
    padding: 9px 0;
}

.sn_cr_container {
    box-sizing: border-box;
    margin-top: 55px;
    background: black;
    display: inline-block;
    padding-left: 20px;
    text-align: left;
}

.footer_social_net span {
    line-height: 22px;
    height: 22px;
    vertical-align: top;
    color: #ffffff;
}

.copyright {
    font: 400 13px / 20px Helvetica;
    width: 75%;
    background: pink;
}

.copyright a {
    text-decoration: none;
    color: #ffffff;
}
